.container{
    max-width: 1110px;
    margin: auto;
    padding: 0 15px;
}

.header-main{
  background-color: #000;
}

.header-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo{
  margin: 21px 0;
}

.header-navbar img{
  width: 79px;
  height: 27px;
}

.navbar-wrapper{
  margin-right: 10px;
}

.navbar-menu{
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navbar-menu a{
  font: 14px 'Open Sans', sans-serif;
  opacity: 69%;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

header:after{
  content: '';
  background-color: white;
  position: absolute;
  left: 0px;
  top: 69px;
  width: 100%;
  height: 1px;
}

.head{
  background-image: url("../picture/headerImg.jpg");
  background-size: cover;
  background-position: center;
  height: 642px;
}

.head .container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 140px;
}

.tagline{
  width: 520px;
  padding-top: 110px;
}

.tagline h3{
  margin-top: 33px;
  font-size: 36px;
  font-family: 'ralewayregular', sans-serif;
  color: rgb(255, 255, 255);
}

.head-line{
  background: #fff;
  width: 64px;
  height: 2px;
  padding: 0;
  margin: 40px 0;
}

.tagline p{
  padding-right: 10px;
  font-size: 16px;
  font-family: 'ralewaylight', sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

.head-download-button{
  position: relative;
  background: transparent;
  box-sizing: border-box;
  margin: 55px 0;
  border: 2px solid #fff;
  width: 135px;
  height: 42px;
  cursor: pointer;
}

.head-download-button span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.form-registration{
  width: 360px;
  /*height: 360px;*/
  padding-top: 140px;
  padding-right: 10px;
}

.form-registration-items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.form-registration-header{
  padding: 20px 40px;
  background-color: #f5f5f5;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.form-registration-header h3{
  padding-left: 10px;
  color: #333333;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.form-registration-header span{
  color: #ff8b38;
}

.form-row{
  background-color: #fff;
}

.user-name{
  padding: 25px 40px 0;
}

.user-email{
  padding: 32px 40px 0;
}

.user-password{
  padding: 43px 40px 50px;
}

.form-registration-items input[type="text"]{
  padding-left: 10px;
  height: 30px;
  width: 100%;
  border-width: 0;
  border-bottom: 1px solid #d6d6d6;
  border-left: 1px solid #fbfbfb;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.form-registration-items input[type="submit"] {
  background-color: #ff9b51;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  /*color: #fff;*/
  height: 52px;
  width: 100%;
  border: none;
  margin: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.brand .container{
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: auto;
}

.brand-info{
  padding-top: 20px;
  width: 380px;
}

.brand-info-header{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #333333;
}

.brand-info-text{
  padding-top: 10px;
  font: 14px, 'Open Sans', sans-serif;
  font-weight: 400;
  color: #86878b;
}

.brands-list{
  padding-top: 30px;
  padding-right: 25px;
  width: 635px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.brands-list i{
  color: rgb(204, 204, 204);
  font-size: 46px;
  cursor: pointer;
}

._1line{
  /*display: block;*/
  background-color: #b7b7b7;
  width: 100%;
  height: 1px;
  margin: 22px 0 0;
}

._2line{
  /*display: block;*/
  background-color: #d6d6d6;
  width: 100%;
  height: 1px;
  /*margin: 1px 0 0;*/
}

._3line{
  /*display: block;*/
  background-color: #eaeaea;
  width: 100%;
  height: 1px;
  /*margin: 1px 0 0;*/
}

.features{
  height: 595px;
  background-color: #f5f5f5;
}
.features .container{
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: auto;
}

/*
.tab input[type="radio"]{
  display: none;
}

.tab label::before,
.tab label::after {
    content: "";
    position: absolute;
    top: 0;
    left: -42px;
    border-radius: 50%;
}

.tab label::before {
    width: 12px;
    height: 12px;
    border: solid 2px #5a5a5a;
}

.tab label::after {
    width: 16px;
    height: 16px;
    background-color: #00bad2;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.28s;
}

.tab input[type="radio"] {
    display: none;
}

.tab input[type="radio"]:checked ~ label::after {
    transform: scale(1.1);
}
*/


.tab{
  margin-top: 145px;
  margin-left: -6px;
}

.tab li{
  position: relative;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.tab span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tab li:first-child{
  width: 110px;
  height: 110px;
  background-color: #ff8b38;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab li:nth-child(2),
.tab li:nth-child(3){
  width: 110px;
  height: 110px;
  background-color: #333333;
}

.tab li:nth-child(2){
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}

.tab li:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tab-text{
  padding: 150px 100px 51px 100px;
}

.tab-text h3{
  padding-bottom: 52px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.tab-text-p{
  padding-bottom: 19px;
}

.tab-text p{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.429;
  font-weight: 400;
  color: #86878b;
}

.tab-button{
  font: 15px 'Open Sans', sans-serif;
  font-weight: 600;
  background-color: #ff8b38;
  color: #fff;
  margin-top: 48px;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  height: 44px;
  border: none;
}

.tab-pict img{
  padding-top: 168px;
  padding-right: 8px;
}

.our-process .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  align-content: stretch;
  margin-bottom: 100px;
}

.our-process-header{
  width: 100%;
  margin: 102px -5px 82px;
	text-align: center;
}

.header-theme{
	font-size: 36px;
	font-family: 'ralewayregular', sans-serif;
}

.header-line{
	background: #ff9933;
	width: 64px;
	height: 2px;
	padding: 0;
	margin: 24px auto 29px;
}

.header-topic{
  margin-left: -6px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(134, 135, 139);  
}

.our-process .column{
  margin-left: -10px;
}

.our-process .column,
.our-process .column > div{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo-circle{
	box-sizing: border-box;
	border: 2px solid #ff9933;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.column-theme{
  margin: 0;
  padding: 27px 0 25px;
  font-size: 20px;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.column-paragraph{
  margin: 0;
  font-size: 14px;
  line-height: 1.429;
  max-width: 355px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(134, 135, 139);
}

.section{
    text-align: center;
}

.section.gray-bg{
    background: #f5f5f5;
}

.section.padding-box{
    padding: 105px 0;
    margin-left: -5px;
}

.heads .title{
    font: 36px/1.2 'ralewayregular', sans-serif;
    color: #212121;
}

.heads .subtitle{
  padding-top: 5px;
  margin-left: -5px;
  font: 14px/1.4 'Open Sans', sans-serif;
  color: #86878b;
}

.heads .title:after{
    content: '';
    background: #ff8d2d;
    width: 64px;
    height: 2px;
    display: block;
    margin: 21px auto;
}

.our-processes-head{
    margin-bottom: 140px;
}

.our-processes-main{
    font-size: 0;
    margin: 0 -30px;
}

.our-prices-col{
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
    font-size: 16px;
    box-sizing: border-box;
}

.our-prices-col .icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #ff8b38;
    border: 2px solid;
    font-size: 32px;
    display: inline-block;
    margin-bottom: 30px;
}
.our-prices-col .icon:before{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.our-prices-col .icon i{
    vertical-align: middle;
}
.our-prices-subtitle{
    font: bold 20px/1.2 'Open Sans', sans-serif;
    color: #333;
    margin-bottom: 30px;
}
.our-prices-description{
    font: 14px/1.4 'Open Sans', sans-serif;
    color: #86878b;
}
.pricing-head{
    margin-bottom: 80px;
}
.pricing-main{
    font-size: 0;
    margin: 0 -25px;
}
.pricing-list{
    font-size: 16px;
    width: 33.3%;
    display: inline-block;
    vertical-align: bottom;
    padding: 0 25px;
    box-sizing: border-box;
}
.pricing-list li{
    color: #86878b;
    text-transform: uppercase;
    border-bottom: 1px solid #f5f5f5;
    background: #ffffff;
    padding: 10px 0;
}

.pricing-list .type{
    font: bold 20px 'Open Sans', sans-serif;
    color: #fff;
    background: #303030;
    border-bottom: 1px solid;
}
.pricing-list .price{
    font: 94px 'ralewaybold', sans-serif;
    color: #fff;
    background: #303030;
    border-bottom: 1px solid;
    vertical-align: bottom;
}
.pricing-list .price:before{
    content: '$';
    font-size: 35px;
}
.pricing-list .payment{
    font: italic 400 14px 'Open Sans', sans-serif;
    color: rgba(255,255,255,.5);
    background: #303030;
    border-bottom: 5px solid #ff8d2d;
}

.pricing-popular-list .payment{
    border-bottom: none;
}

.pricing-list .popular{
    font: bold 14px 'Open Sans', sans-serif;
    color: #ffffff;
    background: #ff8d2d;
}


.custom .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.custom-header{
  margin-top: 101px;
  margin-bottom: 55px;
  text-align: center;
  width: 100%;
}

.custom-theme{
  font-size: 36px;
  line-height: 1.194;
  color: rgb(33, 33, 33);
  font-family: 'Raleway', sans-serif;
}

.custom-line{
  background: #ff9933;
  width: 64px;
  height: 2px;
  padding: 0;
  margin: 23px auto 25px;
}

.custom-topic{
  text-align: center;
  font-size: 14px;
  color: rgb(134, 135, 139);
  line-height: 1.429;
  font-family: 'Open Sans', sans-serif;
}

.custom .column{
  margin: 0 30px 0 20px;
}

.custom-say{
  max-width: 273px;
  height: 127px;
  background-color: #f5f5f5;
  /*margin-bottom: 15px;*/
}

.triangle-down {
  position: relative;
  left: 22px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 17px solid #f5f5f5;
}

.custom-text{
  text-align: left;
  font-size: 14px;
  padding: 19px 10px 5px 10px;
  color: rgb(134, 135, 139);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}

.custom-data{
  margin-top: 8px;
  display: inline-flex;
}

.custom-data-text{
  display: inline-block;
}

.custom-name{
  padding-left: 18px;
  padding-top: 14px;
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: rgb(51, 51, 51);
}

.custom-position{
  padding-top: 4px;
  padding-left: 18px;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;;;
  color: rgb(134, 135, 139);
  line-height: 1.2;

}





.download{
  /*max-width: 1400px;*/
  height: 320px;
  margin-top: 101px ;
  background-image: url("../picture/u25_state0.jpg");
  background-size: cover;
  background-position: center;
}

.download-theme{
  padding-top: 70px;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #fff;
}

.download-line{
  background: #fff;
  width: 64px;
  height: 2px;
  padding: 0;
  margin: 25px auto 0;
}

.download-text{
  margin: 0;
  padding-top: 32px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-align: center;
}

.download-button{  
  background: transparent;
  position: relative;
  box-sizing: border-box;
  margin: 35px auto 0;
  border: 2px solid #fff;
  width: 135px;
  height: 42px;
  cursor: pointer;
}  

.download-button:hover{
   background: #000;
}

.download-button span{
  /*margin: auto;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.download-button-text{
  margin: auto 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

footer{
  margin-top: 614px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  background-color: #000;
}

.icons{
  margin-top: 40px;
  margin-left: -10px;
  width: 335px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.icons i{
  padding: 0 10px;
  color: rgb(204, 204, 204);
  font-size: 20px;
  cursor: pointer;
}


footer span{
  color: rgba(255, 255, 255, 0.502);
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.copyright{
  margin-left: -8px;
  margin-top: 15px;
}

svg{
  width: 20px;
  height: 20px;
}

